﻿@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using RizePranks.Core.Models

@model IEnumerable<ApplicationUser>
@inject UserManager<ApplicationUser> UserManager

@{
    Layout = "_Layout";
    ViewData["Title"] = "Cписок пользователей";
}
<div class="row">
    <a asp-action="CreateOrEdit" class="btn btn-default">Добавить пользователя</a>
</div>
<hr />
<div class="row">
    <div class="col-lg-12">
        <h2>@ViewData["Title"]</h2>
        <div class="dataTables_wrapper">
            <table class="table table-striped table-bordered table-hover" id="user-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Логин</th>
                        <th>EMail</th>
                        <th>Роль</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.UserName</td>
                                <td>@item.Email</td>
                                <td>
                                    @{
                                        var roleList = await UserManager.GetRolesAsync(item) ?? new List<string>();
                                        foreach (var role in roleList)
                                        {
                                            @role
                                        }
                                    }
                                </td>
                                <td>
                                    <a asp-action="Delete" data-itemid="@item.Id" class="delete">Удалить</a> |
                                    <a asp-action="CreateOrEdit" asp-route-id="@item.Id">Редактировать</a> |
                                    <a asp-action="Detail" asp-route-id="@item.Id">Просмотреть</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <a asp-action="CreateOrEdit" class="btn btn-default">Добавить пользователя</a>
</div>
@section Scripts{
    <script src="~/lib/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
    <script>
        window.delayedFunction['setUserTable'] = function ()
        {
            window.UserTable = new TableObject('#user-table');
        }
    </script>
}
