﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #e3bcbd;
    /*background-color: #d9a5a2;*/
    /*background-color: #f1f5f9;*/
    /*background-color: #e3bcbd;*/
    color: #f1f5f9;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}


/*Основная тема*/
.navbar-inverse {
    background-color: #e3bcbd;
    border-color: #e3bcbd;
}
    .navbar-inverse .navbar-brand {
        color: #f1f5f9;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #f1f5f9;
    }

.table > tbody > tr > td 
{
    color: #000 !important;
}